<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/leaderboard.css"> 
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard for {{school_name.replace("-", " ").title()}}</h1>
    <a href={{url_for('school_index', school_name=school_name)}}><h3>Back</h3></a>
    <div class="parent">
    <h3>sheesh</h3>
    {% for i, employee in employees %}
    <div class="container">
        <div class="img"><img src={{employee.img_url}} alt={{employee.name}}></div>
        <div class="info">
        <div class="name"><h3>{{i}}. {{employee.name}}</h3></div>
        {% if employee.role %}
        <div class="role"><h3>{{employee.role}}</h3></div>
        {% endif %}
        <h4>{{ employee.school }}</h4>
        </div>
    </div>
    {% endfor %}</div>  
</body>
</html>