
@font-face {
    font-family: 'sheesh';
    src: url("./helvetica_bold_oblique.ttf");
}
body {
    background-color: black;
}

h1, b, h2, h3, h4, h5 {
    font-family: 'sheesh';
    text-align: center;
    color: white;
}

img {
    /* max-width: 400px;
    max-height: 400px;
    min-width: 300px;
    min-height: 400px; */
    max-height: 300px;
    width: 400px;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    object-fit: contain;
}

.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 350px;
    width: 40%;
    padding: 10px;
    padding-top: 150px;
    font-size: 14px;
    max-width: 1000px;
}

.parent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    align-content: flex-start;
    margin: 0 auto;
    max-width: 600px;
    width: 80%;

}